<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common/head :: head"/>
    <title>Tarjetaza | Cambio de Clave</title>
</head>

<body>

<header th:replace="common/navbar :: navbar"/>

<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-dark mdb-color mb-3">
        <div class="mr-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-inline-flex pl-0 pt-0">
                    <li class="breadcrumb-item"><a class="white-text" th:href="@{/security/user}">Usuario</a></li>
                    <li class="breadcrumb-item active">Cambio de Clave</li>
                </ol>
            </nav>
        </div>
    </nav>

    <div class="row mb-3">
        <div class="col-md-12">

            <div class="card card-cascade narrower shadow-sm">

                <div class="view view-cascade gradient-card-header light-green narrower py-2 mx-4 d-flex justify-content-between align-items-center">
                    <a href="#" class="white-text mx-1">Cambio de Clave</a>
                </div>

                <div class="card-body">
                    <form th:action="@{/security/change-password}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label for="password">Ingrese su Nueva Clave <small class="text-danger">*</small></label>
                                    <input type="password" class="form-control" minlength="5" maxlength="15" th:name="password" th:value="${password}" id="password" placeholder="Nueva Clave" required>
                                </div>
                                <div class="md-form">
                                    <label for="password-repeat">Repita su Nueva Clave <small class="text-danger">*</small></label>
                                    <input type="password" class="form-control" minlength="5" maxlength="15" th:name="passwordRepeat" id="password-repeat" placeholder="Repita la Clave" required>
                                    <div th:if="${error}" class="invalid-feedback d-block" th:text="${error}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg btn-outline-amber waves-effect">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:replace="common/bottom :: body-bottom-scripts"/>
<script>
$(function() {
    $(".button-collapse").sideNav();
    $('#password').focus();
});
</script>

</body>
</html>