.side-nav .logo-wrapper img {
    height: 79px;
}

#table_filter {
    margin-top: 10px;
}

.dataTables_scrollBody {
    margin-top: -18px;
}

.dataTable tr td {
    vertical-align: baseline;
}

/*
.mdb-main-label{
    z-index: 0 !important;
}

div.mdb-select {
    margin-bottom: 0;
}

label.mdb-main-label {
    margin-top: -20px;
}

.select-dropdown {
    margin-bottom: 0;
}
*/

.select-wrapper input.select-dropdown {
    margin: 0;
}

.select-wrapper+label.active {
    top: 0;
}

@media print, screen and (min-width: 64em) {
    #logo {
        width: 180px;
    }
}

@media print, screen and (min-width: 40em) {
    #logo {
        width: 160px;
    }
}