<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common/head :: head"/>
    <title>Tarjetaza | Solicitud Detalle</title>
</head>

<body>

<header th:replace="common/navbar :: navbar"/>

<div class="container-fluid">

    <nav class="navbar navbar-expand-md navbar-dark mdb-color mb-3">
        <div class="mr-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-inline-flex pl-0 pt-0">
                    <li class="breadcrumb-item"><a class="white-text" th:href="@{/requests/}">Solicitudes</a></li>
                    <li class="breadcrumb-item active">Detalle</li>
                </ol>
            </nav>
        </div>
    </nav>

    <div class="row mb-3">
        <div class="col-md-12">

            <div class="card card-cascade narrower shadow-sm">

                <div class="view view-cascade gradient-card-header light-green narrower py-2 mx-4 d-flex justify-content-between align-items-center">
                    <a href="#" class="white-text mx-1">Solicitud Detalle</a>
                    <div>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).SOLICITUD_INGRESADA}" th:href="@{${'/requests/edit/' + request.id}}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Editar Solicitud">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).SOLICITUD_INGRESADA}" th:href="@{${'/requests/change-status/' + request.id + '/r_accept' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Cambiar estado a Solicitud Aceptada">
                            <i class="fas fa-check"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).SOLICITUD_INGRESADA}" th:href="@{${'/requests/change-status/' + request.id + '/r_reject' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Cambiar estado a Solicitud Rechazada">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).SOLICITUD_ACEPTADA || request.requestState == T(com.tarjetaza.domain.RequestState).SOLICITUD_RECHAZADA}" th:href="@{${'/requests/change-status/' + request.id + '/r_entered' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Reinciar estado a Solicitud Ingresada">
                            <i class="fas fa-undo"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).SOLICITUD_ACEPTADA}" th:href="@{${'/requests/change-status/' + request.id + '/c_requested' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Cambiar estado a Tarjeta Pedida">
                            <i class="far fa-credit-card"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).TARJETA_PEDIDA}" th:href="@{${'/requests/change-status/' + request.id + '/r_accept' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Volver al estado de Solicitud Aceptada">
                            <i class="fas fa-undo"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).TARJETA_PEDIDA}" th:href="@{${'/cards/add/' + request.id }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Completar los Datos de la Tarjeta">
                            <i class="far fa-credit-card"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).TARJETA_RECIBIDA}" th:href="@{${'/requests/change-status/' + request.id + '/c_delivered' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Cambiar estado a Tarjeta Entregada">
                            <i class="fas fa-hand-holding-usd"></i>
                        </a>
                        <a th:if="${request.requestState == T(com.tarjetaza.domain.RequestState).TARJETA_RECIBIDA}" th:href="@{${'/requests/change-status/' + request.id + '/c_reject' }}" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="popover-hover" data-content="Cambiar estado a Tarjeta Rechazada">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <ul class="list-group">
                                <li class="list-group-item">ID: <span th:text="${request.id}" class="font-weight-bold"></span><span th:text="${request.requestState.displayValue}" class="font-weight-bold light-green-text float-right"></span></li>
                                <li class="list-group-item">Nombre: <span th:text="${request.nombre}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Apellido: <span th:text="${request.apellido}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Calle: <span th:text="${request.calle}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Puerta: <span th:text="${request.puerta}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Piso: <span th:text="${request.piso}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Dpto.: <span th:text="${request.dpto}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Código Postal: <span th:text="${request.cp}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Provincia: <span th:text="${request.getProvinciaNombre()}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Localidad: <span th:text="${request.localidad}" class="font-weight-bold"></span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Virtual ID: <span th:text="${request.virtualId}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Teléfono: <span th:text="${request.telefono}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Código de documento: <span th:text="${request.getCodigoDocumentoNombre()}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Cuit / Cuil: <span th:text="${request.getCuitCuilFormatted()}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Fecha de nacimiento: <span th:text="${request.getFecNacFormatted()}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Estado Civil: <span th:text="${request.getEstadoCivilNombre()}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Sexo: <span th:text="${request.sexo}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Email: <span th:text="${request.email}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Fecha de la solicitud: <span th:text="${#temporals.format(request.createdDate, 'yyyy/MM/dd HH:mm:ss')}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Ultima modificación: <span th:text="${#temporals.format(request.lastModifiedDate, 'yyyy/MM/dd HH:mm:ss')}" class="font-weight-bold"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:if="${request.card}" class="row mb-3">
        <div class="col-md-6">

            <div class="card card-cascade narrower shadow-sm">

                <div class="view view-cascade gradient-card-header light-green narrower py-2 mx-4 d-flex justify-content-between align-items-center">
                    <a href="#" class="white-text mx-3">Datos de la Tarjeta</a>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item">Entidad: <span th:text="${request.card.entidad}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Sucursal: <span th:text="${request.card.sucursal}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Usuario: <span th:text="${request.card.usuario}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Número: <span th:text="${request.card.numero}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Fecha de Alta: <span th:text="${#temporals.format(request.card.createdDate, 'yyyy/MM/dd HH:mm:ss')}" class="font-weight-bold"></span></li>
                                <li class="list-group-item">Ultima modificación: <span th:text="${#temporals.format(request.card.lastModifiedDate, 'yyyy/MM/dd HH:mm:ss')}" class="font-weight-bold"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:replace="common/bottom :: body-bottom-scripts"/>
<script>
$(function() {
    $(".button-collapse").sideNav();
    $('[data-toggle="popover-hover"]').popover({
        html: true,
        trigger: 'hover',
        placement: 'left'
    });
});
</script>

</body>
</html>